.app {
  text-align: center;
}

.app-header {
  background-color: #171d25;;
  min-height: 12vh;
  max-height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-link {
  color: #61dafb;
}

.app-body {
  background-color: #1B2838;
  min-height: 88vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}