
.filter-container {
    max-width: 15vw;
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.login-button {
    margin: 1vh;
}