
.left-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.header-title {
    position: relative;
    font-size: calc(15px + 2vmin);
    color: white;
    left: 5%;
}

.header-stats-block {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    left: 8%;
    padding-left: 2%;
    padding-right: 2%;
}

.header-stats-block:hover {
    background-color: #212a35;
}

.header-resources-block {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    left: 8%;
    padding-left: 2%;
    padding-right: 2%;
}

.header-resources-block:hover {
    background-color: #212a35;
}

.header-item {
    position: relative;
    font-size: calc(10px + 1vmin);
    color: rgb(179, 179, 179);
    top: 8%;
}



.stats-link:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    color: rgb(179, 179, 179);
    background-color: #2d3641;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-button {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #2d3641;
    color: rgb(179, 179, 179);
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.dropdown-button:hover,
.dropdown-button:focus {
    background: #3c4857;
}

.dropdown-button:active {
    transform: scale(0.99);
}

.dropdown:hover {
    cursor: pointer;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}