
.right-header {
    min-width: 22%;
    min-height: 12vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3vw;
}

.settings-button {
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}