
.right-header {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.settings-button {
    position: relative;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    right: 5%;
}

.load-data-button {
    position: relative;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    right: 6%;

}