
.table-container {
    max-width: 75vw;
    min-width: 75vw;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    margin-bottom: 3vh;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.refresh-button {
    color: white;
    height: 3vh;
}