
.table-container {
    max-width: 75vw;
    min-width: 75vw;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0vh 2vw;
}

.refresh-button {
    color: white;
}