table {
    position: relative;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; 
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #2d3641;
    box-shadow: 0px 0px 10px 7px rgb(0,0,0,0.1);
}

.null-table {
    color: white;
    border-radius: 10px;
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #2d3641;
    min-height: 70vh;
}

thead {
    pointer-events: none;
}

tbody {
    color: white;
}

th {
    background-color: #262d36;
    position: sticky;
    top: 0px;
}

tr {
    min-height: 10vh;
}

tr:hover {
    background-color: rgb(64, 72, 85);
}

tr:hover td {
    background-color: transparent;
}

td {
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 8vw;
}

/* Styling for head buttons */

.head-entry {
    color:#afb7c0;
    font-weight: 1000;
    font-size: calc(2px + 0.6vh + 0.6vw);
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    background-color:#2d364100;
    border: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Styling for combined rows */

.combined-entry {
    display: flex;
    justify-content: left;
    align-items: center;
}

.third-party-name {
    margin-left: 0.5vw;
    overflow: hidden;
    white-space: nowrap;
}

.third-party-img {
    border: solid black 2px;
    border-radius: 4px;
    margin-left: 1vw;
}

.item-name {
    margin-left: 0.5vw;
    white-space: nowrap;
}

.item-img {
    margin-left: 2vw;
}

/* Individual styling */

tr td:first-child {
    font-weight: 1000;
    text-align: left;
    text-indent: 1vw;
}

th:first-child {
    width: 5%;
    text-align: left;
    text-indent: 20%;
}

th:nth-child(2) {
    width: 10%;
}

th:nth-child(3) {
    width: 35%;
    text-align: left;
    text-indent: 2vw;
}

th:nth-child(4) {
    width: 20%;
    text-align: left;
    text-indent: 1vw;
}

th:nth-child(5) {
    width: 10%;
}

th:nth-child(6) {
    width: 10%;
}

th:nth-child(7) {
    width: 10%;
}

th:nth-child(8) {
    width: 10%;
}

tr td:nth-child(5) {
    overflow:hidden;
}